# Python
__pycache__/
modules/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/
test_env/

# IDE
.vscode/
.idea/

# macOS/Linux
.DS_Store
*.swp

# distros and pypi stuff
talkieCLI.egg-info
dist
.gitignore